.header{

    .top-logo{
    color: #230c33;
    font-size: 30px;
    height:50px;
   
    }
}
footer{
    background-color: #230c33;
    font-size: 25px;
    height:50px;
    display: flex;
    .footer-logo{
        color: #ffffff;
        align-self: center;
        margin-left: 50px;
    }
}