.social{
    display: flex;
    justify-content: space-evenly;
    
    .fab{
       font-size: 40px; 
       margin: 10px 25px;

       
        :hover{
            color: #9984d4;   
        }
    }
}
