.dog{
    height: 648px;
    width: 100%;   
}

.container{

    .header{

        h1 {
          font-size: 3rem;

        }
    }//header

    .banner-section{
      background-color: #230c33;
      opacity: 0.9;
      z-index: 50;
      height: 60px;
      font-size: @btn-font;  
      nav{
        display:flex;
        justify-content: flex-end;
        align-content: end;
        
          a{
            margin:18px 0 0 30px;
            .nav-text();
            color: #ffffff;
            border: 1px solid white;
            
          }
      }
    }//Below Hero Image 

  .product-info{
    .flex();
    justify-content: space-between;
    margin-bottom: 13%;
      .style1{
        .article-card();
      }
      .style2{
         .article-card();
      }
      .style3{
        .article-card();
      }
      .style4{
        .article-card();
      }

    
  }//Icon Section
  .middle-content{
    
   
    h2{
      color: #230c33;
    }
    .mid-top{
      .flex();
      margin-bottom: 15%;
      .glasses-doggo{
        height: 300px;
      }
    }
    .mid-bottom{
      .flex();
      .two-dogs{
        height:300px;
      }
    }
  }
}//Home