.product-info{
    .flex();
    justify-content: space-between;
    margin-bottom: 13%;
    

.icon-inner:first-child{margin-left: 0;}
.icon-inner {
    width: 32.4%;
    float: left;
    padding: 25px 15px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    border: solid 1px #dcdcdc;
    box-shadow: 0px 0px 3px #ccc;
    margin-left: 15px;
    span {
        background: rgba(255, 255, 255, 0.5);
        display: inline-block;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        text-align: center;
        line-height: 120px;
    }
    span:before {
        font-size: 5em;
        margin-left: 0;
        background: -webkit-linear-gradient(#b3c2f2, #592e83);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 100%;
    }
}


.heading-area {
    padding: 10px;
    float: left;
    h2 {
        font-size: 25px;
        font-weight: normal;
        color: #592e83;
    }
    p {
        line-height: 20px;
        padding: 10px 0;
    }
    a {
        text-decoration: none;
        border-radius: 50px;
        border: solid 2px #f73131;
        display: inline-block;
        padding: 10px 35px;
        margin-top: 20px;
        color: #fff;
        background: #f73131;
        
      }
    }

}