.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
     
    
    
    h1{
        font-size: @h1-font;
        margin-left: 42px;
        
        
    }
    nav{
        display: flex;
        align-content: center;
        margin-left: 50%;
        @media @phone{
          margin-left:105px;
        } 
            a{
                
                margin: 0px 30px;
                .nav-text();
                .button(11px,34px,80px,rgb(123, 74, 164));
                .button-layout(center, 7px,@btn-font);
                color: white;
                 

            }    
        
    }//nav

    
}//header
