.cards{
    display:flex;

    .card {
    background-color: #b3c2f2;
    width: 380px;
    margin-bottom: 16px;
    padding: 24px;
    display: flex;
    
    }
    .fab{
        font-size: 40px;
    }
}